[submodule "external/poky"]
	path = external/poky
	url = git://git.yoctoproject.org/poky.git
	branch = zeus
[submodule "external/meta-openembedded"]
	path = external/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = zeus
[submodule "external/meta-qt5"]
	path = external/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5
	branch = zeus
